/gen/
.idea/*
/cmd/account_manager/main
/cmd/account_manager/.aws-sam/
/cmd/internal/email_notifier/main
/cmd/internal/email_notifier/.aws-sam/
.aws-sam

/cmd/internal/email_notifier/template.yaml

coverage.html
coverage.out
/cmd/external/create_account/template.yaml
/cmd/account_manager/config/
/cmd/account_manager/internal/
/cmd/account_manager/util/
