/gen/
.idea/*
/cmd/create_account/main
/cmd/create_account/.aws-sam/
/cmd/internal/email_notifier/main
/cmd/internal/email_notifier/.aws-sam/
.aws-sam

/cmd/internal/email_notifier/template.yaml

coverage.html
coverage.out